.sidebar {
  width: 200px;
  height: 100%;
  background: gainsboro;
  padding: 30px 0px;
  position: fixed;
  margin-left: -13px;
}
.sidebar ul li a {
  color: #bdb8d7;
  display: block;
}
.image__logo {
  border-radius: 50%;
  margin-left: 25px;
}
.sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.propfile {
  display: flex;
}
.profile__lgo {
  height: 25px;
  width: 25px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
}
.language {
  margin-left: 40px;
}
.setting {
  margin-left: 32px;
  margin-top: 10px;
  width: 73px;
  margin-right: 37px;
}
.setting__logo {
  color: grey;
  border: 1px solid;
  padding: 10px 20px;
  padding-top: 14px;
}
.profile__image {
  padding-top: 7px;
  padding-left: 6px;
}
.profile__name {
  padding-top: 10px;
  padding-left: 16px;
}
.profile__website {
  font-size: 12px;
}
.profile__pie__chart {
  margin-left: -93px;
}
